[Unit]
Description=Zhamlik Flask Application
After=network.target postgresql.service

[Service]
User=root
WorkingDirectory=/opt/zhamlik
Environment='PATH=/opt/zhamlik/venv/bin:/usr/local/bin:/usr/bin:/bin'
EnvironmentFile=-/opt/zhamlik/.env
ExecStart=/opt/zhamlik/venv/bin/gunicorn --workers 1 --bind unix:zhamlik.sock --timeout 900 --graceful-timeout 900 app:create_app()
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=905
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target